{% block resultat %}

<br\>
<div class="row">
    <div class="col" style="height: 3rem;">
    </div>
    <div class="col" style="height: 3rem;">
    </div>
</div>
<br\>
<div class="row">
    <div class="col">
        <h2 id="type_dechets"></h2>
    </div>
    <div class="col">
        
    </div>
</div>
<div class="row">
    <div class="col" style="height: 3rem;">
    </div>
    <div class="col" style="height: 3rem;">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="input-group input-group-sm mb-3">
            <a href="../resultat.json" download="resultat.json">
            <button type="submit" class="btn btn-danger"  id="btn_dwnld_result">Download file</button>
            </a>
        </div>
    </div>
    <div class="col">
        
    </div>
</div>

<script>


</script>

{% endblock %}