{% block navbar %}
<div style="padding: 0.5rem;">
<nav class="navbar navbar-light bg-light" style="border-radius: 10px;">
    <a class="navbar-brand h1" href="#" style="font-size: 2vw;display: inline;">
      <img src="https://img.icons8.com/material-outlined/48/null/artificial-intelligence.png" width="auto" height="auto"  class="d-inline-block align-top" alt="Django Unchained icon" style="background-color: #F5F5F5; border:5px;border-radius: 10px; display: flex;"/>
      Django Unchained
    </a>
</nav>

{% endblock %}